{% extends 'base.html' %}

{% block main %}
    Seja bem Vindo!
    <div class="container">
        <div class="row">
          <div class="col-sm">
            Olá: {{ usuario.funcionario.nome }}
            <a href="{% url 'funcionarios:list_funcionarios' %}">Gerenciar Funcionarios</a>
          </div>
          <div class="col-sm">
            {% if usuario.funcionario.empresa %}
                <a href="{% url 'empresas:edit_empresa' usuario.funcionario.empresa.id %}">{{ usuario.funcionario.empresa}}</a>
            {% else %}
                <a href="{% url 'empresas:create_empresa' %}">Criar Empresa</a>
            {% endif %}
          </div>
          <div class="col-sm">
            Uma de três colunas
          </div>
        </div>
      </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}"> Logout </a>
    </div>
{% endblock main %}